/*Importing fonts*/
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:300,400,500,700");

/* Importing all components file */
@import url("components/button.css");

/* General for fonts and colors */
body {
  display: flex;
  margin: 100px;
  font-family: 'Open Sans', sans-serif;
  align-items: center;
  justify-content: center;
}
h1, h2, h3 {
  font-family: Raleway, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
.text-center {
  text-align: center;
}
.btn {
  margin: 40px
}
.btn a {
  margin: 10px;
}
.btn-medium {
  background-color: #6AD58B;
  color: white;
  padding: 12px 26px;
  font-size: 22px;
  font-weight: bold;
  border-radius: 28px;
  transition: background 0.3s ease;
}
.btn-medium:hover {
  background-color: #3ac162;
}
.btn-treehouse {
  border: 1px solid #5a5454;
  border-radius: 16px;
  padding: 20px 30px;
  color: #5a5454;
  font-size: 19px;
  font-weight: lighter;
  opacity: 0.6;
}
.btn-yours {
  font-size: 23px;
  background-color: #b30d0d7a;
  box-shadow: 3px 4px 5px #c38a8a;
  padding: 20px 25px;
  color: white;
  border-radius: 20px;
}
